spring:
  datasource:
    url: jdbc:mysql://localhost:12345/jpa?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        # dialect: org.hibernate.dialect.Oracle0gDialect # 방언 설정 가능 - 다른 DB를 사용할 때 해당 DB에 맞는 방언 설정 가능
        format_sql: true  # 생성된 SQL을 보기 쉽게 포맷팅해서 출력
        # show_sql: true  # SQL 쿼리 로그를 콘솔에 출력 (true로 설정 시 활성화됨)

logging.level:
  org.hibernate.SQL: debug  # SQL 실행 로그의 상세 정보를 debug 레벨로 출력
#    org.hibernate.type: trace  # SQL 타입 매핑 정보를 trace 레벨로 출력 (주석 해제 시 활성화 가능)